   body {
      margin: 0;
      font-family: Arial, sans-serif;
       background: linear-gradient(to bottom, #36435f, #9f8adc);
      display: flex;
      ;
      align-items:center;
      height: 100vh;
     
    }
   

    /* Navbar */
    nav {
      width: 100%;  /* ✅ full width */
      background: linear-gradient(to right, #36d1dc, #5b86e5);
      padding: 15px 40px;
      display: flex;
      justify-content: space-between;  /* logo left, links right */
      align-items: center;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }

    .logo {
      color: white;
      font-size: 22px;
      font-weight: bold;
    }

    .nav-links {
      list-style: none;
      display: flex;
      gap: 200px;
    }

    .nav-links li a {
      text-decoration: none;
      color: white;
      font-size: 18px;
      transition: 0.3s;
      padding: 6px 12px;
      border-radius: 8px;
    }

    .nav-links li a:hover {
      background: rgba(255, 255, 255, 0.2);
    }

    /* Sample content */
    .content {
      margin-top: 50px;
      text-align: center;
    }

    .container {
      background: linear-gradient(to bottom right, #4facfe, #717a5f);
      padding: 80px;
      border-radius: 30px;
      
      width: 300px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.3);
     
      
    }

    h1 {
      text-align: center;
      color: white;
      position: absolute;
      top: 30px;
      font-size: 24px;
      letter-spacing: 2px;
    }

    label {
      font-size: 14px;
      display: block;
      margin-bottom: 6px;
      font-weight: bold;
    }

    input, select {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 6px;
      font-size: 14px;
    }

    .btn {
      width: 100%;
      background: #2d7c36;
      color: white;
      padding: 12px;
      font-size: 16px;
      border: none;
      border-radius: 6px;
      cursor: pointer;
    }

    .btn:hover {
     scale: 1.2;
        background: #25662d;
    }

    .footer {
      margin-top: 10px;
      font-size: 12px;
      text-align: center;
      color: gray;
    }

    .footer a {
      color: #0b3a57;
      text-decoration: none;
    }
    .terr:focus{
        background-color: aqua;

    }
        /* Menu list */
    .navbarr{
      position: fixed;
      top: 5px;
      width: 100%;
      height: 100px;
      background-color:#25662d;
      color: aliceblue;
     
    }
.navbarr a{
  color: aliceblue;
}